<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.uccn.dao.PresentationMapper">
  <resultMap id="BaseResultMap" type="com.yi.uccn.model.Presentation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="trademark" jdbcType="VARCHAR" property="trademark" />
    <result column="marketing" jdbcType="VARCHAR" property="marketing" />
    <result column="trademark_small_label_1" jdbcType="VARCHAR" property="trademarkSmallLabel1" />
    <result column="trademark_small_label_2" jdbcType="VARCHAR" property="trademarkSmallLabel2" />
    <result column="trademark_small_label_3" jdbcType="VARCHAR" property="trademarkSmallLabel3" />
    <result column="trademark_small_label_4" jdbcType="VARCHAR" property="trademarkSmallLabel4" />
    <result column="marketing_small_label_1" jdbcType="VARCHAR" property="marketingSmallLabel1" />
    <result column="marketing_small_label_2" jdbcType="VARCHAR" property="marketingSmallLabel2" />
    <result column="marketing_small_label_3" jdbcType="VARCHAR" property="marketingSmallLabel3" />
    <result column="marketing_small_label_4" jdbcType="VARCHAR" property="marketingSmallLabel4" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="crateDate" jdbcType="TIMESTAMP" property="cratedate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yi.uccn.model.Presentation">
    <result column="brief" jdbcType="LONGVARCHAR" property="brief" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, trademark, marketing, trademark_small_label_1, trademark_small_label_2, 
    trademark_small_label_3, trademark_small_label_4, marketing_small_label_1, marketing_small_label_2, 
    marketing_small_label_3, marketing_small_label_4, status, crateDate
  </sql>
  <sql id="Blob_Column_List">
    brief
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.yi.uccn.model.PresentationExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from presentation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.yi.uccn.model.PresentationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from presentation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from presentation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from presentation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yi.uccn.model.PresentationExample">
    delete from presentation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yi.uccn.model.Presentation">
    insert into presentation (id, title, trademark, 
      marketing, trademark_small_label_1, trademark_small_label_2, 
      trademark_small_label_3, trademark_small_label_4, 
      marketing_small_label_1, marketing_small_label_2, 
      marketing_small_label_3, marketing_small_label_4, 
      status, crateDate, brief
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{trademark,jdbcType=VARCHAR}, 
      #{marketing,jdbcType=VARCHAR}, #{trademarkSmallLabel1,jdbcType=VARCHAR}, #{trademarkSmallLabel2,jdbcType=VARCHAR}, 
      #{trademarkSmallLabel3,jdbcType=VARCHAR}, #{trademarkSmallLabel4,jdbcType=VARCHAR}, 
      #{marketingSmallLabel1,jdbcType=VARCHAR}, #{marketingSmallLabel2,jdbcType=VARCHAR}, 
      #{marketingSmallLabel3,jdbcType=VARCHAR}, #{marketingSmallLabel4,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{cratedate,jdbcType=TIMESTAMP}, #{brief,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yi.uccn.model.Presentation">
    insert into presentation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="trademark != null">
        trademark,
      </if>
      <if test="marketing != null">
        marketing,
      </if>
      <if test="trademarkSmallLabel1 != null">
        trademark_small_label_1,
      </if>
      <if test="trademarkSmallLabel2 != null">
        trademark_small_label_2,
      </if>
      <if test="trademarkSmallLabel3 != null">
        trademark_small_label_3,
      </if>
      <if test="trademarkSmallLabel4 != null">
        trademark_small_label_4,
      </if>
      <if test="marketingSmallLabel1 != null">
        marketing_small_label_1,
      </if>
      <if test="marketingSmallLabel2 != null">
        marketing_small_label_2,
      </if>
      <if test="marketingSmallLabel3 != null">
        marketing_small_label_3,
      </if>
      <if test="marketingSmallLabel4 != null">
        marketing_small_label_4,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="cratedate != null">
        crateDate,
      </if>
      <if test="brief != null">
        brief,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="trademark != null">
        #{trademark,jdbcType=VARCHAR},
      </if>
      <if test="marketing != null">
        #{marketing,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel1 != null">
        #{trademarkSmallLabel1,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel2 != null">
        #{trademarkSmallLabel2,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel3 != null">
        #{trademarkSmallLabel3,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel4 != null">
        #{trademarkSmallLabel4,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel1 != null">
        #{marketingSmallLabel1,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel2 != null">
        #{marketingSmallLabel2,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel3 != null">
        #{marketingSmallLabel3,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel4 != null">
        #{marketingSmallLabel4,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="cratedate != null">
        #{cratedate,jdbcType=TIMESTAMP},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yi.uccn.model.PresentationExample" resultType="java.lang.Long">
    select count(*) from presentation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update presentation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.trademark != null">
        trademark = #{record.trademark,jdbcType=VARCHAR},
      </if>
      <if test="record.marketing != null">
        marketing = #{record.marketing,jdbcType=VARCHAR},
      </if>
      <if test="record.trademarkSmallLabel1 != null">
        trademark_small_label_1 = #{record.trademarkSmallLabel1,jdbcType=VARCHAR},
      </if>
      <if test="record.trademarkSmallLabel2 != null">
        trademark_small_label_2 = #{record.trademarkSmallLabel2,jdbcType=VARCHAR},
      </if>
      <if test="record.trademarkSmallLabel3 != null">
        trademark_small_label_3 = #{record.trademarkSmallLabel3,jdbcType=VARCHAR},
      </if>
      <if test="record.trademarkSmallLabel4 != null">
        trademark_small_label_4 = #{record.trademarkSmallLabel4,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingSmallLabel1 != null">
        marketing_small_label_1 = #{record.marketingSmallLabel1,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingSmallLabel2 != null">
        marketing_small_label_2 = #{record.marketingSmallLabel2,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingSmallLabel3 != null">
        marketing_small_label_3 = #{record.marketingSmallLabel3,jdbcType=VARCHAR},
      </if>
      <if test="record.marketingSmallLabel4 != null">
        marketing_small_label_4 = #{record.marketingSmallLabel4,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.cratedate != null">
        crateDate = #{record.cratedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.brief != null">
        brief = #{record.brief,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update presentation
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      trademark = #{record.trademark,jdbcType=VARCHAR},
      marketing = #{record.marketing,jdbcType=VARCHAR},
      trademark_small_label_1 = #{record.trademarkSmallLabel1,jdbcType=VARCHAR},
      trademark_small_label_2 = #{record.trademarkSmallLabel2,jdbcType=VARCHAR},
      trademark_small_label_3 = #{record.trademarkSmallLabel3,jdbcType=VARCHAR},
      trademark_small_label_4 = #{record.trademarkSmallLabel4,jdbcType=VARCHAR},
      marketing_small_label_1 = #{record.marketingSmallLabel1,jdbcType=VARCHAR},
      marketing_small_label_2 = #{record.marketingSmallLabel2,jdbcType=VARCHAR},
      marketing_small_label_3 = #{record.marketingSmallLabel3,jdbcType=VARCHAR},
      marketing_small_label_4 = #{record.marketingSmallLabel4,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      crateDate = #{record.cratedate,jdbcType=TIMESTAMP},
      brief = #{record.brief,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update presentation
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      trademark = #{record.trademark,jdbcType=VARCHAR},
      marketing = #{record.marketing,jdbcType=VARCHAR},
      trademark_small_label_1 = #{record.trademarkSmallLabel1,jdbcType=VARCHAR},
      trademark_small_label_2 = #{record.trademarkSmallLabel2,jdbcType=VARCHAR},
      trademark_small_label_3 = #{record.trademarkSmallLabel3,jdbcType=VARCHAR},
      trademark_small_label_4 = #{record.trademarkSmallLabel4,jdbcType=VARCHAR},
      marketing_small_label_1 = #{record.marketingSmallLabel1,jdbcType=VARCHAR},
      marketing_small_label_2 = #{record.marketingSmallLabel2,jdbcType=VARCHAR},
      marketing_small_label_3 = #{record.marketingSmallLabel3,jdbcType=VARCHAR},
      marketing_small_label_4 = #{record.marketingSmallLabel4,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      crateDate = #{record.cratedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yi.uccn.model.Presentation">
    update presentation
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="trademark != null">
        trademark = #{trademark,jdbcType=VARCHAR},
      </if>
      <if test="marketing != null">
        marketing = #{marketing,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel1 != null">
        trademark_small_label_1 = #{trademarkSmallLabel1,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel2 != null">
        trademark_small_label_2 = #{trademarkSmallLabel2,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel3 != null">
        trademark_small_label_3 = #{trademarkSmallLabel3,jdbcType=VARCHAR},
      </if>
      <if test="trademarkSmallLabel4 != null">
        trademark_small_label_4 = #{trademarkSmallLabel4,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel1 != null">
        marketing_small_label_1 = #{marketingSmallLabel1,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel2 != null">
        marketing_small_label_2 = #{marketingSmallLabel2,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel3 != null">
        marketing_small_label_3 = #{marketingSmallLabel3,jdbcType=VARCHAR},
      </if>
      <if test="marketingSmallLabel4 != null">
        marketing_small_label_4 = #{marketingSmallLabel4,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="cratedate != null">
        crateDate = #{cratedate,jdbcType=TIMESTAMP},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yi.uccn.model.Presentation">
    update presentation
    set title = #{title,jdbcType=VARCHAR},
      trademark = #{trademark,jdbcType=VARCHAR},
      marketing = #{marketing,jdbcType=VARCHAR},
      trademark_small_label_1 = #{trademarkSmallLabel1,jdbcType=VARCHAR},
      trademark_small_label_2 = #{trademarkSmallLabel2,jdbcType=VARCHAR},
      trademark_small_label_3 = #{trademarkSmallLabel3,jdbcType=VARCHAR},
      trademark_small_label_4 = #{trademarkSmallLabel4,jdbcType=VARCHAR},
      marketing_small_label_1 = #{marketingSmallLabel1,jdbcType=VARCHAR},
      marketing_small_label_2 = #{marketingSmallLabel2,jdbcType=VARCHAR},
      marketing_small_label_3 = #{marketingSmallLabel3,jdbcType=VARCHAR},
      marketing_small_label_4 = #{marketingSmallLabel4,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      crateDate = #{cratedate,jdbcType=TIMESTAMP},
      brief = #{brief,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yi.uccn.model.Presentation">
    update presentation
    set title = #{title,jdbcType=VARCHAR},
      trademark = #{trademark,jdbcType=VARCHAR},
      marketing = #{marketing,jdbcType=VARCHAR},
      trademark_small_label_1 = #{trademarkSmallLabel1,jdbcType=VARCHAR},
      trademark_small_label_2 = #{trademarkSmallLabel2,jdbcType=VARCHAR},
      trademark_small_label_3 = #{trademarkSmallLabel3,jdbcType=VARCHAR},
      trademark_small_label_4 = #{trademarkSmallLabel4,jdbcType=VARCHAR},
      marketing_small_label_1 = #{marketingSmallLabel1,jdbcType=VARCHAR},
      marketing_small_label_2 = #{marketingSmallLabel2,jdbcType=VARCHAR},
      marketing_small_label_3 = #{marketingSmallLabel3,jdbcType=VARCHAR},
      marketing_small_label_4 = #{marketingSmallLabel4,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      crateDate = #{cratedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>