.container {
    margin-top: 40px;
}

.leftright {
    margin-left: 40px;
    margin-right: 40px;
}

.center-button {
    margin-left: 50%;
    margin-right: 50%;
}

.index-button {
    margin-left: 40%;
    margin-right: 40%;
}

.admin-div {
    margin-left: 1%;
    margin-right: 1%;
}